/*****    Common elements    *****/
h2{
    /* color: #AF5A4C; */
    color: white;
    font-weight: 700;
    font-size: 26px;
}

.btn{
    color: #1B1212;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

/*****   HEADER component   *****/
.Header{
    box-sizing: border-box;
    color: black;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 1em;
    margin: 0em 1em 1em 1em;
    background-color: whitesmoke;
    font-family: FreeLine;
    font-size: x-large;
    border-radius: 10px 140px 30px 140px;
}

.Header img{
    cursor: pointer;
}

/*****    HOMEPAGE component    *****/
.mode{
    margin-top: 10%;
    align-items: center;
}

.btn-mode {
    align-items: center;
    margin: 20%;
    display: inline;
}

.btn-single{
    background-color: #FBEEC1;
    border: 5px solid #f7e4a1;
}
    .btn-single:hover {
        background-color: #f7e4a1;
        transition: 0.7s;
    }

.btn-multiple{
    background-color: #BC986A;
    border: 5px solid #b08956;
}
    .btn-multiple:hover {
        background-color: #b08956;
        transition: 0.3s;
    }

/*****    GAMEWINDOW component    *****/
#gameWindow{
    background-color: #0C005B;
    border: 5px solid #0c005b9e;
    border-spacing: 0.5em;
    margin: 0 auto 0 auto;
    padding: 0.2em;
    border-radius: 30px;
  }
  #gameWindow th{
    background-color: #F1B900;
    border: 5px solid #F1B900;
    padding: 1.0em;
    border-radius: 10px;
  }
  #gameWindow th:hover {
    background-color: #0C005B;
  }

/*****    Media queries for mobile view    *****/
@media only screen and (max-width: 780px) {
    .btn-mode {
        display: block !important;
    }
    #gameWindow th{
        padding: 0.5em;
    } 
}

/* #FBEEC1   #BC986A    #DAAD86    #659DBD  #8D8741 */
